<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bad.bigad.mapper.GameRoomMapper">
    <resultMap id="gameRoom" type="com.bad.bigad.entity.game.GameRoom">
        <result column="id" property="id"/>
        <result column="map_id" property="mapId"/>
        <result column="room_type" property="roomType"/>
    </resultMap>

    <select id="getGameRoomById" resultMap="gameRoom" parameterType="long">
        SELECT id, map_id, room_type from gameroom WHERE id = #{id}
    </select>

    <insert id="updateGameRoom" parameterType="com.bad.bigad.entity.game.GameRoom">
        INSERT INTO gameroom (id, map_id, room_type) VALUES(#{id}, #{mapId}, #{roomType})
        ON DUPLICATE KEY UPDATE map_id = #{mapId}, map_refresh_time=now();
    </insert>

    <insert id="newGameRoom" parameterType="com.bad.bigad.entity.game.GameRoom">
        INSERT INTO gameroom (id, map_id, room_type, map_refresh_time) VALUES(#{id}, #{mapId}, #{roomType}, now());
    </insert>
</mapper>